<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<style>
		body {
		  margin: 0;
		  font-family: Arial, Helvetica, sans-serif;
		}
		
		.topnav {
		  overflow: hidden;
		  background-color: #333;
		}
		
		.topnav a {
		  float: left;
		  color: #f2f2f2;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;
		}
		
		.topnav a:hover {
		  background-color: #ddd;
		  color: black;
		}
		
		.topnav a.active {
		  background-color: #0483aa;
		  color: white;
		}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="margin-bottom: 20px">   
    		<div class="mx-auto order-0">
        		<a class="navbar-brand mx-auto" href="#">AI For Judicial Assistance</a>
    		</div> 
		</nav>
		<div class="topnav">
			<a href="landing.html">About the Project</a>
			<a href="label.html">Label Definitions</a>
			<a class="active" href="model.html">Use our model</a>
			<a href="metrics.html">Metrics</a>
			<a href="about_team.html">About team</a>
			<a href="https://github.com/abhijeetmurthy/capstone_project_2021">Source Code</a>
		  </div>



		<b>
			<p>Our model takes in case documents as an input and predicts the labels associated to the document. Please provide an input and hit submit to the results.</p>
		</b>
		<form action="" method="POST" role="form">
			<div class="container">
			

				<div >
					<label>Case Document Input</label>
					<textarea name="area" class="form-control" rows="10">{{content_input}}</textarea>
				</div>
				<button type="submit" class="btn btn-primary" style="margin: 10px">SUBMIT</button>
				<div >
					<label>Matched Labels</label>
					<textarea name="output" class="form-control" rows="10" >{{content_output}}</textarea>


			</div>
				
  			</div>
				
		</form>




		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>

</html>